<div class="collection-image-wrapper">
  {% for collection in collections %} {%if collection.title contains 'test' %}

  <div class="collection-image">
    <a href="{{ collection.url }}">
      <div class="collection-image__item">
        <img
          src="{{ collection.image | img_url: 'large' }}"
          alt="{{ collection.title }}"
        />
        <div class="collection-image__title">
          {%if collection.title == "books_test" %}
          <p>knihy</p>
          {% elsif collection.title == "hoodies_test" %}
          <p>mikiny</p>
          {% elsif collection.title == "shirts_test" %}
          <p>trička</p>
          {%endif%}
        </div>
      </div>
    </a>
  </div>

  {% endif %} {% endfor %}
</div>
