<div class="text footer">
	<ul>
		<li><a href="mailto:info@laskaje.cz">E-mail</a></li>
		<li><a href="/pages/obchodni-podminky">Obchodní podmínky</a></li>
		<li><a href="/pages/vraceni-a-vymena">Vrácení a výměna</a></li>

	</ul>
</div>